<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WearCorp E-shop</title>  
</head>

<body>
  <div>
    <header>
      <nav style="background-color: #F79327">        
        {{#if logged_in}}
        <button id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
        <a href="/">Home</a>
        <a href="/categories">Category</a>
        <a href="/basket">Basket</a>
      </nav>
    </header>
    <main style="background-color: #FFE569">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>    
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}  
  <script src="/js/logout.js"></script>
  <script src="/js/cart.js"></script>
  <script src="/js/getDetails.js"></script>
  {{/if}}
</body>

</html>
