<!-- Loop over each object in the projects array -->
<div>
  {{#each basket.order as |cartItem| }}
  <div style="background-color: #FF577F; margin: 2px">  
      
      <p>Product Name: {{cartItem.productName}}</p>
      <p>Unit Price: £{{cartItem.unitPrice}}</p>
      <p>Quantity: {{cartItem.quantity}}</p>
    
  </div>
  {{/each}}
  <p>Total value: £{{basket.totalValue}}</p>
  <button id="checkoutBtn">Checkout</button>
</div>

