<!-- Loop over each object in the projects array -->
<div>
  {{#each orderItems as |orderItem| }}
  <div style="background-color: #FF577F; margin: 2px">  
      
      <p>Product Name: {{orderItem.product.product_name}}</p>
      <p>Unit Price: £{{orderItem.product.price}}</p>
      <p>Quantity: {{orderItem.quantity}}</p>
    
  </div>
  {{/each}}
  <p>Total value: £{{totalValue}}</p>
  <button id="checkoutBtn">Checkout</button>
</div>

