<div>
    <h2>Enter your card number and address</h2>

    <div class="form-group">
        <label for="card-checkout">card number:</label>
        <input class="form-input" type="text" id="card-checkout" />
      </div>
      <div class="form-group">
        <label for="address-checkout">address:</label>
        <input class="form-input" type="text" id="address-checkout" />
      </div>
      <div class="form-group">
        <button id="checkoutBtn" onClick="checkoutFunc()">Checkout</button>
      </div>
</div> 

<script>
  async function checkoutFunc() {
    console.log('I am pressed!')

    try {

      const response = await fetch('/create-checkout-session', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
      })

      const { url } = await response.json();
      console.log(url);
      window.location = url;
    } catch (error) {
      console.error(error)
    }
    
  }
</script>