<!-- Loop over each object in the projects array -->
{{#each products as |product| }}
<div style="background-color: #FF577F; margin: 2px">
  
    
    <h2>      
      <a href="/product/{{product.id}}">{{product.product_name}}</a>
    </h2>
    <p>Product Name: {{product.product_name}}</p>
    <p>Price: £{{product.price}}</p>
  
</div>
{{/each}}
