<div class="product-details">
    <h2 id="productName">{{product.product_name}}</h2>
    <p>Price: £<span id="price">{{product.price}}</span></p>
    <p>Stock: <span id="stock">{{product.stock}}</span></p>
    <p>Description:</p>
    <p>Product ID: <span id='productId'>{{product.id}}</span></p>
    <div>
        <label for="quantity">Quantity: </label>
        <input id="quantity" type="number"/>
    </div>    
    <button id="addButton" type="button">Add to Basket</button>
</div>
