<div class="product-details">
    <h2 id="productName">{{product.product_name}}</h2>
    <p>Price: £<span id="price">{{product.price}}</span></p>
    <p>Stock: <span id="stock">{{product.stock}}</span></p>
    <p>Description:</p>
    <p>Category ID: {{category_id}}</p>
    <button type="button">Add to Basket</button>
</div>