<div class="product-details">
    <h2>{{product.product_name}}</h2>
    <p>Price: £{{product.price}}</p>
    <p>Stock: {{product.stock}}</p>
    <p>Description:</p>
    <p>Category ID: {{category_id}}</p>
    <button type="button">Add to Basket</button>
</div>
