<div class="form-group">
    <h2>Hi, {{username}}. Your order is successfully processed!</h2>
    <br/>
    <label for="address-input" style="display: inline-block; font-size: 1.2rem; margin: 0.625rem 0 0.25rem 0.3rem;">Delivery address: </label>
    <input class="form-input" type="text" id="address-input" value="{{address}}" required/>
    <button id="addressBtn" onClick="handleAddressSubmit({{user_id}})">submit</button>
</div>

<script>
    async function handleAddressSubmit(userId) {
        await fetch(`/api/users/${userId}`, {  
                method: 'PUT',
                body: JSON.stringify({
                    address: document.querySelector('#address-input').value,
                }),
                headers: {'Content-Type': 'application/json'},
            })

        location.replace(`/order/confirm/${userId}`)
    }



</script>